-- POINT SYSTEM TRIGGER / FUNCTION
-- Run this in Supabase SQL Editor

CREATE OR REPLACE FUNCTION public.adjust_trust_score(p_user_id UUID, p_delta INTEGER)
RETURNS void AS \$\$
BEGIN
  UPDATE public.profiles
  SET trust_score = COALESCE(trust_score, 50) + p_delta
  WHERE id = p_user_id;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;

-- Grant access to authenticated users (admins)
GRANT EXECUTE ON FUNCTION public.adjust_trust_score(UUID, INTEGER) TO authenticated;

