CREATE TABLE public.requirement_responses (
  id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
  requirement_id UUID REFERENCES public.blood_requirements(id) ON DELETE CASCADE,
  student_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE,
  status TEXT DEFAULT 'Accepted',
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  UNIQUE(requirement_id, student_id)
);

ALTER TABLE public.requirement_responses ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
Anyone
can
view
responses\ ON public.requirement_responses FOR SELECT USING (true);
CREATE POLICY \Students
can
insert
their
own
responses\ ON public.requirement_responses FOR INSERT WITH CHECK (auth.uid() = student_id);

