-- ADD ARRIVAL TRACKING
-- Run this in Supabase SQL Editor

-- 1. Add arrival_status to requirement_responses
ALTER TABLE public.requirement_responses 
ADD COLUMN IF NOT EXISTS arrival_status TEXT DEFAULT 'Pending';

-- 2. Create tracking for hospital requests if not exists
CREATE TABLE IF NOT EXISTS public.hospital_response_tracking (
    id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
    request_id UUID REFERENCES public.hospital_requests(id) ON DELETE CASCADE,
    student_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE,
    arrival_status TEXT DEFAULT 'Pending',
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    UNIQUE(request_id, student_id)
);

-- 3. Enable RLS
ALTER TABLE public.hospital_response_tracking ENABLE ROW LEVEL SECURITY;

-- 4. Policies for hospital_response_tracking
CREATE POLICY \
Public
view
of
response
tracking\ ON public.hospital_response_tracking FOR SELECT USING (true);
CREATE POLICY \Admins
can
manage
tracking\ ON public.hospital_response_tracking FOR ALL TO authenticated 
USING (EXISTS (SELECT 1 FROM profiles WHERE id = auth.uid() AND role = 'ADMIN'));
CREATE POLICY \Students
can
insert
their
own
tracking\ ON public.hospital_response_tracking FOR INSERT WITH CHECK (auth.uid() = student_id);

-- 5. Sync existing assigned_donors into the new tracking table (Optional but good)
INSERT INTO public.hospital_response_tracking (request_id, student_id)
SELECT id, unnest(assigned_donors)::uuid
FROM public.hospital_requests
ON CONFLICT DO NOTHING;

