-- EXTERNAL HOSPITAL ACCOUNTS TABLE
CREATE TABLE IF NOT EXISTS public.hospital_accounts (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    email TEXT UNIQUE NOT NULL,
    password TEXT NOT NULL,
    hospital_name TEXT NOT NULL,
    location TEXT NOT NULL,
    role TEXT DEFAULT 'HOSPITAL',
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Enable RLS
ALTER TABLE public.hospital_accounts ENABLE ROW LEVEL SECURITY;

-- Allow authenticated admins to manage this table
CREATE POLICY \
Admins
can
manage
hospital
accounts\ 
ON public.hospital_accounts 
FOR ALL 
TO authenticated
USING (
  EXISTS (
    SELECT 1 FROM profiles 
    WHERE profiles.id = auth.uid() 
    AND profiles.role = 'ADMIN'
  )
);

-- Allow public read for login verification (or restricted to specific logic)
CREATE POLICY \Enable
read
for
login
verification\ 
ON public.hospital_accounts FOR SELECT USING (true);
