
-- Check current user and profile
SELECT auth.uid(), p.role 
FROM profiles p 
WHERE p.id = auth.uid();

-- Check hospital_accounts policies
SELECT * FROM pg_policies WHERE tablename = 'hospital_accounts';

