-- FIX FOR HOSPITAL ACCOUNTS RLS
-- Run this in Supabase SQL Editor

-- 1. Disable RLS temporarily to clean up
ALTER TABLE public.hospital_accounts DISABLE ROW LEVEL SECURITY;

-- 2. Drop all existing policies to start fresh
DROP POLICY IF EXISTS \
Admins
can
manage
hospital
accounts\ ON public.hospital_accounts;
DROP POLICY IF EXISTS \Enable
read
for
login
verification\ ON public.hospital_accounts;
DROP POLICY IF EXISTS \Admins
can
insert
hospital
accounts\ ON public.hospital_accounts;
DROP POLICY IF EXISTS \Admins
can
select/update
hospital
accounts\ ON public.hospital_accounts;
DROP POLICY IF EXISTS \Public
select
for
login\ ON public.hospital_accounts;

-- 3. Re-enable RLS
ALTER TABLE public.hospital_accounts ENABLE ROW LEVEL SECURITY;

-- 4. Create explicit policy for INSERT
-- This uses a subquery to check the admin role
CREATE POLICY \Allow
admins
to
register
hospitals\
ON public.hospital_accounts
FOR INSERT
TO authenticated
WITH CHECK (
  EXISTS (
    SELECT 1 FROM public.profiles
    WHERE profiles.id = auth.uid()
    AND (profiles.role = 'ADMIN' OR profiles.role = 'admin')
  )
);

-- 5. Create explicit policy for SELECT
-- Everyone needs to see this for the login fallback to work
CREATE POLICY \Allow
anyone
to
read
hospital
accounts\
ON public.hospital_accounts
FOR SELECT
USING (true);

-- 6. Create explicit policy for UPDATE/DELETE
CREATE POLICY \Allow
admins
to
modify
hospital
accounts\
ON public.hospital_accounts
FOR ALL
TO authenticated
USING (
  EXISTS (
    SELECT 1 FROM public.profiles
    WHERE profiles.id = auth.uid()
    AND (profiles.role = 'ADMIN' OR profiles.role = 'admin')
  )
);

