-- FIX FOREIGN KEY FOR HOSPITAL REQUESTS
-- Run this in Supabase SQL Editor

-- 1. Identify and drop the foreign key constraint
ALTER TABLE public.hospital_requests 
DROP CONSTRAINT IF EXISTS hospital_requests_hospital_id_fkey;

-- 2. Optional: Add a comment explaining why
COMMENT ON COLUMN public.hospital_requests.hospital_id IS 'Stored ID of the hospital (can be from profiles or hospital_accounts)';

-- 3. Update RLS for requests to be more inclusive
DROP POLICY IF EXISTS \
Hospitals
can
create
requests\ ON public.hospital_requests;

CREATE POLICY \Hospitals
can
create
requests\ 
ON public.hospital_requests 
FOR INSERT 
WITH CHECK (true); -- We rely on application-level hospital_id passing for now

DROP POLICY IF EXISTS \Hospitals
can
update
their
requests\ ON public.hospital_requests;
CREATE POLICY \Everyone
can
see
requests\ ON public.hospital_requests FOR SELECT USING (true);

